accelerate
addict
aiofiles
aiohttp
aiosignal
altair
anyio
async-generator
async-timeout=
attrs
beautifulsoup4
blinker
blip-ci
bs4
cachetools
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
clip-interrogator==0.6.0
fastapi
gradio
icetk
lxml
matplotlib
nltk
numpy
opencv-python
pandas
Pillow
protobuf==3.20.0
pycocotools
PyYAML
selenium
streamlit
torch
torchaudio
torchvision
tqdm
transformers==4.27.1
urllib3
uvicorn