protobuf>=3.19.5,<3.20.1
transformers==4.27.1
cpm_kernels
torch>=1.10
gradio
mdtex2html
sentencepiece
accelerate
bs4
fastapi
streamlit
icetk
clip-interrogator
lxml
matplotlib
numpy
opencv-python
open-clip-torch
Pillow
selenium
tqdm
urllib3
uvicorn

addict
diffusers
huggingface_hub
onnxruntime
pycocotools
PyYAML
setuptools
supervision
termcolor
timm
yapf
nltk
fairscale