accelerate==0.18.0
addict==2.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.2
blinker==1.5
blip-ci==0.0.3
bs4==0.0.1
cachetools==5.3.0
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
clip-interrogator==0.6.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.0.7
cpm-kernels==1.0.11
cycler==0.11.0
Cython==0.29.34
decorator==5.1.1
diffusers==0.16.1
entrypoints==0.4
exceptiongroup==1.1.1
fairscale==0.4.4
fastapi==0.94.1
ffmpy==0.3.0
filelock==3.10.0
flatbuffers==23.3.3
fonttools==4.39.2
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.1
gitdb==4.0.10
GitPython==3.1.31
gradio==3.21.0
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.13.2
humanfriendly==10.0
icetk==0.0.4
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
latex2mathml==3.75.3
linkify-it-py==2.0.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
networkx==3.0
nltk==3.8.1
numpy==1.24.2
onnxruntime==1.14.1
open-clip-torch==2.17.2
opencv-python==4.7.0.72
orjson==3.8.7
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pathspec==0.11.1
Pillow==9.4.0
platformdirs==3.3.0
protobuf==3.20.0
psutil==5.9.5
pyarrow==11.0.0
pycparser==2.21
pydantic==1.10.6
pydeck==0.8.0
pydub==0.25.1
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.0.9
pyreadline3==3.4.1
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2022.10.31
requests==2.13.0
rfc3986==1.5.0
rich==13.3.2
safetensors==0.3.1
selenium==4.8.3
semver==2.13.0
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
starlette==0.26.1
streamlit==1.22.0
streamlit-chat==0.0.2.2
supervision==0.6.0
sympy==1.11.1
tenacity==8.2.2
termcolor==2.3.0
timm==0.4.12
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch
torchaudio
torchvision
tqdm==4.65.0
transformers==4.27.1
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.3
uc-micro-py==1.0.1
urllib3==1.26.15
uvicorn==0.21.1
validators==0.20.0
watchdog==2.3.1
wcwidth==0.2.6
websockets==10.4
wincertstore==0.2
wsproto==1.2.0
yapf==0.33.0
yarl==1.8.2
zipp==3.15.0