.swi-button {
  border: none;
  background-color: #3e6efa;
  padding: 0;
  width: 45px;
  height: 25px;
  border-radius: 13px;
  position: relative;
  cursor: pointer;
}

.switch-thumb {
  margin-left: 2.2px;
  background-color: #ffffff;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  transition: transform 0.1s;
}

.switch-on .switch-thumb {
  transform: translateX(19px) translateY(-50%);
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.45);
}

.switch-off {
  background-color: #d9d9e3;
}

.switch-off .switch-thumb {
  background-color: #ffffff;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.45);
}
